.js-greetingsForm {
  position: absolute;
  top: 40%;
  font-weight: 600;
}

.js-greetingsForm input {
  font-size: 30px;
  text-align: center;
}

.name,
.greetings {
  display: none;
}

.showing {
  display: block;
  position: absolute;
  top: 40%;
  font-size: 30px;
  font-weight: 600;
  color: white;
}
