@import "reset.css";
@import "clock.css";
@import "greetings.css";
@import "todo.css";
@import "weather.css";

body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 90vh;
  background-color: mediumaquamarine;
}
header {
  position: absolute;
  top: 15%;
  font-size: 30px;
  font-weight: 600;
  color: white;
  transition: color 0.5s ease-in-out;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: pink;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
