@import "reset.css";
@import "clock.css";
@import "greetings.css";
@import "todo.css";

body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 90vh;
  background-color: mediumaquamarine;
}
header {
  position: absolute;
  top: 15%;
  font-size: 30px;
  font-weight: 600;
  color: white;
  transition: color 0.5s ease-in-out;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: pink;
}
