.js-toDoForm {
  position: absolute;
  top: 47%;
  font-weight: 600;
}

.js-toDoForm input {
  font-size: 25px;
}

.js-toDoList {
  position: absolute;
  top: 55%;
  font-weight: 600;
  font-size: 25px;
}

.js-toDoList li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}

.js-toDoList button {
  border: none;
  background: none;
}
